---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"barbera.gibson@quitzon.example","template_id":"54d2b063-8180-452a-a10f-1ddaee96c996","personalisation":{"first_name":"Dallas","last_name":"Okuneva","account_number":"10014411","sort_code":"60-70-80","payment_due":"0.00","iban":"GB23
        NWBK 607080 10014411","swiftbic":"NWBK GB2L","currency":"Sterling","reg_identifier":"WEX0123456","date_registered":"23
        September 2026","exemption_breakdown":"* U1 Using waste in construction: £435.96"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#Registration number: WEX0123456\r\n\r\n#Date registered:
        23 September 2026\r\n\r\nDear Dallas Okuneva,\r\n\r\n#You need to pay for
        your waste exemption registration.\r\n\r\n#We cannot send proof of your registration
        until we receive your payment.\r\n\r\n#How to pay\r\n\r\nPay by bank transfer
        using the details below.\r\n\r\nAccount name: Environment Agency\r\nAccount
        number: 10014411\r\nSort code: 60-70-80\r\nPayment reference: WEX0123456\r\nPayment
        due: \u00a30.00\r\n\r\n#Overseas payments\r\n\r\nIBAN: GB23 NWBK 607080 10014411\r\nSWIFT
        / BIC: NWBK GB2L\r\nCurrency: Sterling\r\n\r\n#After you''ve paid\r\n\r\nYou
        need to email us to confirm your payment so we can match it to your registration.\r\n\r\nEmail:
        ea_fsc_ar@gov.sscl.com\r\n\r\nInclude:\r\n\r\n- the date you paid\r\n- the
        amount you paid\r\n- your payment reference WEX0123456\r\n\r\nAllow 5 working
        days for us to process your payment and match it to your registration.\r\n\r\n#Breakdown
        of charges\r\n\r\n* U1 Using waste in construction: \u00a3435.96\r\n\r\nTotal
        due: \u00a30.00\r\n\r\n#Contact us\r\n\r\nIf you need more help, call the
        Environment Agency 03708 506506.\r\n\r\nThis is an automated email. Do not
        reply to this message.","from_email":"waste.exemptions@notifications.service.gov.uk","one_click_unsubscribe_url":null,"subject":"Your
        recent waste exemption registration"},"id":"ee79d579-33aa-4886-97e1-0d142a56024a","reference":null,"sanitised_content":{},"scheduled_for":null,"template":{"id":"54d2b063-8180-452a-a10f-1ddaee96c996","uri":"https://api.notifications.service.gov.uk/services/367ec8d8-ae34-4e85-bb3e-870659f93c43/templates/54d2b063-8180-452a-a10f-1ddaee96c996","version":3},"uri":"https://api.notifications.service.gov.uk/v2/notifications/ee79d579-33aa-4886-97e1-0d142a56024a"}

        '
  recorded_at: Wed, 23 Sep 2026 08:46:47 GMT
recorded_with: VCR 6.4.0
